In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
FILENAME = './data/usagers-2021.csv'
ENCODING = 'utf-8'
SEPARATOR = ';'

Specifics changes

In [4]:
DATA_TYPE_CATEGORICAL = "CAT"
DATA_TYPE_TEXT = "TXT"
DATA_TYPE_NUMERICAL = "NUM"
DATA_TYPE_INDEX = "INDEX"
MAX_CATEGORICAL_VALUES = 32

In [5]:
df = pd.read_csv(FILENAME, sep=SEPARATOR, encoding=ENCODING)

In [6]:
df.head()

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202100000001,201 764,B01,1,1,3,1,2000.0,1,0,9,-1,0,0,-1
1,202100000001,201 765,A01,1,1,1,1,1978.0,1,1,-1,-1,0,0,-1
2,202100000002,201 762,A01,1,1,4,1,1983.0,0,1,-1,-1,0,0,-1
3,202100000002,201 763,B01,1,1,3,1,1993.0,0,1,-1,-1,0,0,-1
4,202100000003,201 761,A01,1,1,1,1,1995.0,1,1,0,-1,0,0,-1

In [7]:
df.dtypes

Num_Acc          int64
id_vehicule     object
num_veh         object
place            int64
catu             int64
grav             int64
sexe             int64
an_nais        float64
trajet           int64
secu1            int64
secu2            int64
secu3            int64
locp             int64
actp            object
etatp            int64
dtype: object

In [8]:
df['actp'].replace('A', 10, inplace=True)
df['actp'].replace('B', 11, inplace=True)
df['actp'] = pd.to_numeric(df['actp'])

In [9]:
df.dtypes

Num_Acc          int64
id_vehicule     object
num_veh         object
place            int64
catu             int64
grav             int64
sexe             int64
an_nais        float64
trajet           int64
secu1            int64
secu2            int64
secu3            int64
locp             int64
actp             int64
etatp            int64
dtype: object

In [15]:
df['an_nais'].kurtosis()

-0.2808310054486096